.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.main {
  margin-top: var(--header-main-gap);
}
