.header {
  width: 100%;
  height: var(--header-height);
}

.text-bg-accent {
  background: var(--accent-color);
}

.title {
  text-transform: uppercase;
  font-size: var(--text-size-xl);
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.menu-left {
  display: flex;
  gap: 20px;
}

.menu-right {
  display: flex;
  gap: 20px;
}

.title__container {
  padding: 2px;
}

.active {
  border-bottom: var(--underline-border);
}

nav li {
  list-style: none;
}
