:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-size-m: 20px;
  --text-size-l: 26px;
  --text-size-xl: 30px;
  --text-size-xxl: 35px;

  --base-color: #000;
  --accent-color: #cb81ff;
  --spinner-base-color: #fff;
  --spinner-pie-color: #2ae881;
  --bg-loading: var(--accent-color);
  --bg-color: #fce2ff;
  --radius: 16px;
  --window-radius: 40px;
  --window-padding: 40px;
  --btn-radius: 10px;
  --button-radius-upload: 16px;
  --header-main-gap: 40px;
  --drag-bg-color: #eacdff;
  --drag-on-bg-color: #d4fae6;
  --drag-error-color: #ff5f00;
  --underline-border: 2px solid var(--base-color);

  --button-dark: #201b10;
  --button-white: #fff;
  --button-ready: #2ae881;
  --button-steady: #fce300;
  --button-disabled: #c0c0c0;
  --text-disabled: #787878;

  --header-height: 100px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  color: var(--base-color);
}

body {
  background-color: var(--bg-color);
}
